<h2><%= @list.name %></h2>

<%= link_to "Create new task", new_list_task_path(@list.id) %>

<ul>
<% @list.tasks.each do |task| %>
  <li> <%= task.description %></li>
  <%= form_for [@list, task], method: :delete do |form| %>
    <% form.submit "Completed!" %>
  <% end %>
<% end %>
